<!-- 이용가이드 -->
{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<head>
    <script>
    function filter(){

    var value, name, item, i;

    value = document.getElementById("value").value.toUpperCase();
    item = document.getElementsByClassName("content");

    for(i=0;i<item.length;i++){
        name = item[i].getElementsByClassName("name");
    if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
        item[i].style.display = "";
    }else{
        item[i].style.display = "none";
    }
    }
    }
    </script>
    <style>
        .gi {
            margin: 2% auto;
            text-align: center;
            width: 80%;
            border:1px solid black;
        }

        .search p {
            font-size: 25px;
        }

        .search input {
            width: 25vw;
            height: 5vh;
        }
    </style>
</head>
<body>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <div class="gi">
    <div class="search">
        <br>
        <h1><b>PO;RE 이용 가이드 </b><i class="far fa-commed" style="font-size: 50px; color: #BE2834;"></i></h1>
        <p style="color: #BE2834;"><b>키워드검색: </b></p>
        <input onkeyup="filter()" type="text" id="value" class="search_input" placeholder="검색어 입력">
    </div>
    <br>
    <div class="content">
        <h2 class="name">Q1. 평균가를 결제해야만 볼 수 있나요?</h2>
        <p>A. 아닙니다!<br>가격을 측정하기 어려운 아마추어 분들부터<br> 요즘 시세를 알고 싶은 전문가까지 모두가 무료로 알 수 있습니다! </p>
    </div>

    <div class="content">
        <h2 class="name">Q2. 포트폴리오를 보고 맘에 들어 거래하려 하는데 어떻게 결제하나요?</h2>
        <p>A. 채팅으로 금액을 결정한 뒤, 판매자가 게시글을 올려주세요.<br>
        게시글에 들어가셔서 결제하시면 됩니다!</p>
    </div>

    <div class="content">
        <h2 class="name">Q3. 탈퇴 후 올린 자료를 복구할 수 있나요?</h2>
        <p>A. 탈퇴와 동시에 삭제되기 때문에 복구는 불가능합니다.<br>
        그러니 신중히 고민하신 후 선택해 주세요.</p>
    </div>

    <div class="content">
        <h2 class="name">Q4. 가입 시 고른 분야는 수정이 불가능한가요?</h2>
        <p>A. 마이페이지에서 프로필 수정에 들어가시면 변경 가능합니다.<br>
        분야에 구애받지 않고 사이트를 이용해 주세요.</p>
    </div>

    <div class="content">
        <h2 class="name">Q5. 회원 등급은 무슨 기준인가요?</h2>
        <p>A. 1단계는 거래횟수가 0~2회인 경우 해당됩니다.<br>
        전문가 단계가 되는 2단계부터는 거래횟수가 3~6회, 3단계는 7회 이상이 기준입니다.</p>
    </div>
    </div>
</body>


{% endblock %}