<!-- 포트폴리오 분야별 확인 -->
{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/portfolio/css/pfshow.css">

<h1>{{ field }}</h1>
<div class="all">
    {% for p in portfolios %}
    {% if p.f_id == field %}
    <div class="co" style="border: 1px solid black;">
        <br>
        <a href="{% url 'pfdetail' p.id %}">{{p.pf_title}}</a><br>
        <a href="{% url 'userpage' p.user_id.id %}">닉네임:{{ p.user_id.nickname }}</a>
        <br>
        {% if p.pf_attach %}
            <img src="{{ p.pf_attach.url }}" width="250" height="250" alt="포트폴리오 썸네일">
        {% else %}
        <img src="{% static 'portfolio/img/이미지없음.jpg' %}" width="200px" hegiht="200px">
        {% endif %}
        {{ p.pf_date }}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}