<!-- 마이페이지 -->
{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<i class="fas fa-comments"></i>
<a href="{% url 'chat' %}" class="btn btn-primary">채팅하기</a>
<hr>

<h1>{{ user.nickname }}님의 게시물</h1>
<div class="mypf">
    {% for p in portfolios %}
    {% if p.user_id == user %}
    <div class="pf" style="border: 1px solid black;">
            <a href="{% url 'pfdetail' p.id %}">{{p.pf_title}}</a>
            <br>
            {{p.pf_content | safe}}<br>
            {{ p.pf_date }}
            <!-- {{ p.user_id.nickname }} -->
        {% endif %}
    </div>
</div>
    {% endfor %}
{% endblock %}