{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="/static/portfolio/css/userpage.css">

<div class="profile">
    <div class="set">
        <br><br><br>
        <i class="far fa-comments" style="font-size: 50px;"></i>
        <a href="{% url 'chat' %}"> <br>채팅하기</a>
    </div>
    <div class="proimg">
        <!-- 프로필 이미지가 있으면 해당 이미지를 띄우고 없으면 기본이미지 띄움 -->
        {% if user.profile.profile_image %}
        <img src="{{ user.profile.profile_image.url }}" width="200px" hegiht="200px">
        {% else %}
        <img src="{% static 'portfolio/img/기본프로필.jpg' %}" width="200px" hegiht="200px">
        {% endif %}
    </div>
    <div class="procon">
        <!-- 회원 등급별 이미지 -->
        {% if grade %}
            <img src="{% static 'portfolio/img/two.png' %}" width="50px" hegiht="50px">
        {% elif top %}
            <img src="{% static 'portfolio/img/three.png' %}" width="50px" hegiht="50px">
        {% else %}
            <img src="{% static 'portfolio/img/one.png' %}" width="50px" hegiht="50px">
        {% endif %}
        <!-- 프로필 정보란 -->
        <h1>{{ user.nickname }}</h1>
        <h2>이메일: {{ user.profile.email }}</h2>
        <h2>연락처: {{ user.profile.phone_number }}</h2>
        <h2>자기소개: {{ user.profile.introduce }}</h2>
    </div>
<br>
</div>
<br>
<!-- 거래글 -->
<h3 style="color: #D6002E;"><b>거래글</b></h3>
<div class="mypf">
    {% for b in business %}
    <!-- 포트폴리오의 user_id와 현재 로그인 유저가 동일한 것만 보여줌 -->
    {% if b.u_id == user %}
    <div class="deal" style="border: 1px solid black;">
        <br>
        <a style="font-size: 25px;" href="{% url 'dealdetail' b.id %}">
            {% if b.status == "ready" %}
            [미결제]
            {% elif b.status == "paid" %}
            [결제 확인]
            {% endif %}
            
            <b>{{b.deal_title}}</b></a>
        <p class="date">{{ b.deal_date }}</p>
        <br>
        <p>{{ deal.price }}</p>
        {% endif %}
    </div>
</div>
{% endfor %}
<br>
<hr>
<!-- 포트폴리오 -->
<h3 style="color: #D6002E;"><b>PORTFOLIO</b></h3>
<div class="mypf">
    {% for p in portfolios %}
    <div class="pf" style="border: 1px solid black;">
        <br>
        <a style="font-size: 25px;" href="{% url 'pfdetail' p.id %}"><b>{{p.pf_title}}</b></a>
        <p>{{ p.pf_date }}</p>
        <br>
        <div class="word">
            {% if p.pf_attach %}
            <img src="{{ p.pf_attach.url }}" width="250" height="250" alt="포트폴리오 썸네일">
            {% else %}
            <img src="{% static 'portfolio/img/이미지없음.jpg' %}" width="200px" hegiht="200px">
            {% endif %}
            </div>
    </div>
    {% endfor %}
</div>
    

{% if portfolios.has_previous %}
<a href="?page=1">처음</a>
<a href="?page={{ portfolios.previous_page_number }}">이전</a>
{% endif %}

<span>{{ portfolios.number }}</span>
<span>of</span>
<span>{{ portfolios.paginator.num_pages }}</span>

{% if portfolios.has_next %}
<a href="?page={{ portfolios.next_page_number }}">다음</a>
<a href="?page={{ portfolios.paginator.num_pages }}">마지막</a>
{% endif %}

{% endblock %}