body {
    font-family: 'GongGothicMedium';
}

h1 {
    text-align: center;
}

.chat {
    width: 80vw;
    height: 55vh;
    border: 1px solid;
    margin: 0 auto;
    
}

.chat .reply {
    text-align: center;
    width: 80vw;
    position: fixed; 
    top: 70%; 
    background-color: #FFF; 
    text-align: center; 
    border-top: 1px solid black;

    display:inline-block;
    position:relative;

}
/* .chat ul { width: 100%; list-style: none; }

.chat ul li { width: 50%; text-align: left; border: 5px solid #EBE5E1; } */

.balloon {
    position: relative;
    display: inline-block;
}

.balloon span {
    display: inline-block;
    padding: 10px;
    color: black;
    background: #EBE5E1;
    border-radius: 20px;
}

.balloon.left {
    margin-top: 5%;
    margin-left: 5%;
}

.balloon:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.balloon.left:after {
    border-width: 10px 15px;
    top: 70%;
    /* margin-top: -10px; */
    border-color: transparent #EBE5E1 transparent transparent;
    left: -25px;
    
}

.chat .reply > textarea {
    resize:none;
    width: 86%; 
    height: 80px; 
    border: none; 
    padding: 10px;
    display:block;
}

textarea:focus {
    outline: none;
}

button {
    position:absolute;
    bottom:15px;
    right:10px;

    width: 10%;
    background-color: #D6002E;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
  }